<!-- simulate mobil_shared_coordinates using a bag file -->
<launch>

    <arg name="bag" default="twocameras_2015-06-29-14-56-38_fixed.bag"/>

    <!-- run UAV and UGV launch files -->
    <include file="$(find mobil_shared_coordinates)/launch/UAV.launch"/>
    <include file="$(find mobil_shared_coordinates)/launch/UGV.launch"/>

    <!-- run the bag file -->
    <node pkg="rosbag" type="play" name="rosbag" args="$(find mobil_shared_coordinates)/bag_files/$(arg bag) -\-clock -d 3" output="log"/>

    <!-- run rviz and visualize the output of mobil_shared_coordinates -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mobil_shared_coordinates)/launch/testing_arpose_config.rviz"/>

</launch>
